.main {
    transition: all .3s;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.body {
    margin-top: 64px;
}

.text {
    text-align: center;
    font-weight: normal;
    line-height: normal;
}