@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 239, 244, 245;
  --background-end-rgb: 255, 255, 255;

  --primary: #001F99;
  --secondary: #0D40FF;
  --text: #2B2D33;
  --bg-1: #808080;
  --bg-2: #D7DAE2;
  --bg-3: #E6E6E6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
  font-weight: 600;
  line-height: 90%;
}

h1 {
  font-size: 48px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link:hover {
  color: #0D40FF;
  transition: all .22s;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 16px 24px;
  margin: 0 auto;
}
