.grid {
    columns: 3;
}

.grid > * {
    margin-bottom: 24px;
}

.main {
    text-align: center;
    max-width: 70%;
    margin: 48px auto;
}

.description {
    margin-top: 28px;
    font-weight: normal;
    color: var(--additional);
}

@media screen and (max-width: 960px) {
    .grid {
        columns: 2;
    }

    .main {
        max-width: 100%;
        padding: 0 12px;
        margin-top: 12px;
    }

    .description {
        text-align: justify;
        margin-top: 16px;
    }
}

@media screen and (max-width: 620px) {
    .grid {
        columns: 1;
    }
}