.grid {
    columns: 3;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*gap: 16px;*/
    /*display: grid;*/
}

.grid > * {
    margin-bottom: 24px;
}

.main {
    text-align: center;
    max-width: 70%;
    margin: 100px auto 64px;
}

.description {
    margin-top: 40px;
    font-weight: normal;
}
